# Exercise sheet 6 solution

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from nose.tools import assert_is_instance, assert_equal, assert_almost_equal, assert_true

## 1 (6 points)
Let's start with some basic probability terms.

### 1a (1 point)
What is $\Omega$ for 3 coin tosses? Use the Python set data structure with tuples to describe each possible outcome. Check the slides for lecture 5 to see what $\Omega$ is.

In [2]:
omega_three_coin_tosses = set(((0,0,0), (0,0,1), (0,1,0), (0,1,1), (1,0,0), (1,0,1), (1,1,0), (1,1,1)))

In [3]:
assert_is_instance(omega_three_coin_tosses, set)
assert_true((0,0,0) in omega_three_coin_tosses)
assert_equal(omega_three_coin_tosses, set(((0,0,0), (0,0,1), (0,1,0), (0,1,1), (1,0,0), (1,0,1), (1,1,0), (1,1,1))))

### 1b (1 point)
We roll two standard dice.
What is $\Omega$ for "We roll the same number twice?"

In [4]:
omega_same_number_twice = set(((1,1), (2,2), (3,3), (4,4), (5,5), (6,6)))

In [5]:
assert_is_instance(omega_same_number_twice, set)
assert_true((1,1) in omega_same_number_twice)
assert_equal(omega_same_number_twice, set(((1,1), (2,2), (3,3), (4,4), (5,5), (6,6))))

### 1c (1 point)
We roll two standard dice. What is the probability for the sum of the two dice being lower than 30?

In [7]:
probability_lower_30 = 1.

In [8]:
assert_is_instance(probability_lower_30, float)
assert_equal(probability_lower_30, 1)

### 1d (1 point)
We roll two standard dice. What is the probability for the sum of the two dice being lower or equal to 6?

In [9]:
probability_lower_6 = 15/36

In [10]:
assert_is_instance(probability_lower_6, float)
assert_almost_equal(probability_lower_6, 15/36 , places=2)

### 1e (2 point)
We roll two standard dice. If the first die shows a "6", what is the probability of the sum of the two dice being equal or higher than 8?

In [11]:
probability_higher_8 = (5/36) / (6/36)

In [12]:
assert_is_instance(probability_higher_8, float)
assert_almost_equal(probability_higher_8, (5/36) / (6/36) , places=2)

## 2 (5 points)
We will work with a dataset about strokes (sourced from [Kaggle](https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset)).

In [13]:
stroke_df = pd.read_csv("healthcare-dataset-stroke-data.csv")
stroke_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

### 2a (1 point)
For a patient contained in this dataset, what is the probability that they had a stroke (P(stroke))?

In [14]:
probability_stroke = stroke_df['stroke'].value_counts()[1] /(stroke_df['stroke'].value_counts()[1]  +  stroke_df['stroke'].value_counts()[0])
print(probability_stroke)

0.0487279843444227

In [15]:
assert_is_instance(probability_stroke, float)
assert_almost_equal(probability_stroke, 0.048 , places = 2)

### 2b (1 point)
For a patient contained in this dataset who had heart disease (heart_disease = 1), what is the probability that they had a stroke (P(stroke|heart_disease))?

In [16]:
heart_disease = stroke_df[stroke_df["heart_disease"] == 1]
probability_stroke_heart_disease = heart_disease['stroke'].value_counts()[1] / (heart_disease['stroke'].value_counts()[1] + heart_disease['stroke'].value_counts()[0])

print(probability_stroke_heart_disease)

0.17028985507246377

In [17]:
assert_is_instance(probability_stroke_heart_disease, float)
assert_almost_equal(probability_stroke_heart_disease, 0.170 , places=2)

### 2c (3 points)
What is the probability of P(stroke|hypertension)?

Hint: Check the slides for a very similar example about breast cancer

In [18]:
hypertension = stroke_df[stroke_df["hypertension"] == 1]
probability_stroke_hypertension = hypertension['stroke'].value_counts()[1] /(hypertension['stroke'].value_counts()[1] + hypertension['stroke'].value_counts()[0])
print(probability_stroke_hypertension)

0.13253012048192772

In [19]:
assert_is_instance(probability_stroke_hypertension, float)
assert_almost_equal(probability_stroke_hypertension, 0.132 , places = 2)

### 2d (4 points)
According to the [Mayo Clinic](https://www.mayoclinic.org/diseases-conditions/diabetes/diagnosis-treatment/drc-20371451), a "blood sugar level less than 140 mg/dL (7.8 mmol/L) is normal".

* Make a new column called "high_glucose" that has a 1 if the avg_glucose_level measurement was equal to or higher than 140, and a 0 otherwise

In [20]:
stroke_df["high_glucose"] = np.where(stroke_df["avg_glucose_level"] >= 140, 1, 0)

In [21]:
assert_equal(stroke_df["high_glucose"].value_counts()[0], 4289)
assert_equal(stroke_df["high_glucose"].value_counts()[1], 821)

* Use this new column to calculate P(stroke|high_glucose)

In [22]:
high_glucose = stroke_df[stroke_df["high_glucose"] == 1]
probability_stroke_high_glucose = high_glucose['stroke'].value_counts()[1] /(high_glucose['stroke'].value_counts()[1] + high_glucose['stroke'].value_counts()[0])

print(probability_stroke_high_glucose)

0.11327649208282582

In [23]:
assert_is_instance(probability_stroke_high_glucose, float)
assert_almost_equal(probability_stroke_high_glucose, 0.113 , places = 2)


* Calculate P(high_glucose|stroke)

In [24]:
stroke = stroke_df[stroke_df["stroke"] == 1]
probability_high_glucose_stroke = stroke['high_glucose'].value_counts()[1] /(stroke['high_glucose'].value_counts()[1] + stroke['high_glucose'].value_counts()[0])
print(probability_high_glucose_stroke)

0.37349397590361444

In [25]:
assert_is_instance(probability_high_glucose_stroke, float)
assert_almost_equal(probability_high_glucose_stroke, 0.373, places = 2)